.tabs .tab {
  cursor: pointer;
}
.tabs .tab.active {
  border-bottom: 2px solid black;
}
.content {
  display: none;
}
.show-content {
  display: block;
}
.designer-heading {
  color: #0d0b07;
  text-align: center;
  font-family: Isidora Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 265;
  line-height: 48px;
  text-transform: capitalize;
}
.designer-price {
  color: #0d0b07;
  text-align: center;
  font-family: Isidora Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: capitalize;
}
.designer-text {
  color: #060503;
  text-align: justify;
  font-family: Isidora Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 760px) {
  .BA-heading {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
  .BA-big-heading {
    font-size: 27px;
    line-height: 32px;
  }
  .BA-text,
  .BA-text li {
    font-size: 16px;
    line-height: 24px;
  }
  .BA-big-heading2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;
    text-transform: capitalize;
  }
  .designer-heading{
    font-family: Isidora Sans;
font-size: 24px;
font-style: normal;
font-weight: 265;
line-height: 32px; /* 133.333% */
text-transform: capitalize;
  }
}
