
Navbar {
  width: 100%;
}
.transparentHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,.03);
  backdrop-filter: blur(10px);
  z-index: 99;
  padding: 0px 32px;
}
.transparentHeader.active{
  /* background-color: #fff !important; */
  border-bottom: 1px solid red;
  /* display: none; */
}
.listItem2 {
  color: #fff !important;
  text-decoration: none;
  text-transform: capitalize;
}
.logo img {
  width: 100px;
  height: 60px;
  object-fit: contain;
}
.transparentheader-button {
  background-color: #575757;
  border-radius: 8px;
  padding: 10px 18px !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 15, 20, 0.05);
  color: #fffefb;
  text-decoration: none;
}
.navbar-menu-container {
  display: none;
}
HiOutlineBars3{
  color: #fff;
}
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
}
@media (max-width: 815px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container, .transparentheader-button{
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}


